* {
    box-sizing: border-box;
}

body {
    background-color:black;
    color:thistle;

}

a:link {
    color: rgb(53, 148, 138);
}

a:visited {
    color: orchid;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 0.75rem;
}

h1 {
    text-align: center;
    font-size: 2.25rem;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
}

.resume-section {
    font-size: 1.25rem;
    margin-top: 20px;
}

.layout {
    display: flex;
    gap: 30px;
}

.main-resume {
    flex: 1;
}

aside {
    width: 250px;
    padding: 10px;
    background-color: rgb(5, 5, 74);
    border: darkgrey 3px solid;
}

.intro {
    text-align: center;
    font-size: 1.5rem;
}

.tagline {
    text-align: center;
    font-size: 1.125rem;
}
